.timer {
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 488px;
    text-align: center;
    cursor: pointer;
}

.timer .desc {
    font-size: 14pt;
}

.timer .time {
    font-size: 120pt;
    color: rgba(0, 0, 0, 0.5);
}

.timer p {
    margin: 0;
    line-height: 1;
}

.timer:hover .popup{
    display: block;
}

.timer .popup  {
    position: absolute;
    display: none;
    background-color: #5C7AB1;
    opacity: 1;
    margin: auto;
    width: 200px;
    left: -16px;
    top: -80px;
    color: white;
    padding: 3px;
    font-weight: bold;
}

.timer .club {
    position: absolute;
    width: 100px;
    height: 100px;
    right: -15px;
    bottom: 149px;
}

.timer .club img {
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}