<div class="slideshowplanet" data-bind="visible: isVisible, click: click">
  <span class="logo">

    <svg class="shadow" fill="#3e3e3e" height="72" viewBox="0 0 24 24" width="72" xmlns="http://www.w3.org/2000/svg">
        <path class="play" d="M8 5v14l11-7z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>

    <svg class="play" fill="white" height="72" viewBox="0 0 24 24" width="72" xmlns="http://www.w3.org/2000/svg">
        <path class="shadow" d="M8 5v14l11-7z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>

  </span>	
</div>